h1{font-family: Arial, Helvetica, sans-serif;

}
a{
    background-color: bisque;
}
h2{content position: center;
    color:grey;
}
#navbarNav{
    background-color: bisque;
}

.btn btn-primary btn-lg{
    color: white;
}
.row{
    background-color: antiquewhite;

}
.card-body1{
    height: 170px;
    margin-inline: 20px;
}
.card-body2{
    height: 127px;
    position: static;
margin-inline: 20px;
}
.bg-dark text-white text-center py-4{
    background-color: black;
}
.col-md-6{display: flex;
}
